NEXT_PUBLIC_API_URL=http://localhost:3000

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA8I0gtnnuHkpkCq7Y7uBEHQccGHOs4b28
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=sigta-8cc92.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=sigta-8cc92
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=sigta-8cc92.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=44498036077
NEXT_PUBLIC_FIREBASE_APP_ID=1:44498036077:web:e24adf0987e909aa0b6664
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-B3JY1LNMBG
